.offer {
  background-image: url('../../img/offer/offer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  @include max-media(93.75em) {
   overflow: hidden;
  }
  &__body {
    padding: 141px 0 324px;
  }

  &__container {
    height: 100%;
    overflow-x: hidden;
  }
  .descr-block {
    background-color: var(--clr-white);
    box-shadow: 5.274515628814697px 5.274515628814697px 26.372577667236328px 0px hsla(0, 0%, 0%, 0.13);
    max-width: 53.375rem;
    padding: 35px 42px;
    position: relative;
    z-index: 1;
    &__heading {
      font-size: clamp(15px, 2.5vw, 40px);
      font-weight: 700;
      span {
        color: var(--clr-red);
      }
    }
    &__text {
      margin-top: max(1.5vw, 6px);
      max-width: 38.5625rem;
      p {
        font-size: clamp(12px, 1.875vw, 30px);
        display: flex;
        flex-direction: column;
        span {
          color: var(--clr-white);
          background-color: var(--clr-red);
          padding-left: 8px;
          width: fit-content;
        }
      }
    }
  }
  &__image {
    position: absolute;
    top: -11rem;
    right: -3.5rem;
    @include max-media(106.25em) {
      right: -15rem;
      top: -9.1rem;
      max-width: 1200px;
    }
    @include max-media(93.75em) {
      right: -20rem;
    }
    width: auto;
    z-index: 10;
  }
}


body {
  overflow-x: hidden !important;
}

@include max-media(1100px) {
  .offer {
    &__body {
      padding: 24px 0px 0px;
    }
    &__image {
      max-width: 450px;
      margin-inline: auto;
      img,
      picture {
        width: 100%;
      }
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}
