.payment {
  position: relative;
  padding: clamp(30px, 11.125vw, 178px) 0px clamp(10px, 9.6875vw, 155px);
  &__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  &__image {
    position: absolute;
    left: 0;
    top: -2%;
    z-index: -1;
    img, picture {
      max-height: 53.125rem;
      width: max(60.25vw, 21.875rem);
    }
  }
  &__heading {
    max-width: 48.3125rem;
    font-size: clamp(15px, 2vw, 32px);
    text-align: center;
    span {
      font-weight: 700;
      color: var(--clr-red);
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    margin-top: max(1.375vw, 9px);
    min-width: 28.9375rem;
  }
  &__selector {
    width: 100%;
  }
  .selector-list {
    margin-top: max(2.0625vw, 17px);
    max-width: 40.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 9px 1.75rem;
    background-color: var(--clr-white);
    &__item {
      cursor: pointer;
      transition: all 500ms ease;
      padding: 13px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: var(--clr-white);
      box-shadow: var(--shadow-light);
    }
    &__image {
      background: transparent;
    }
    &__img {
      background-color: unset !important;
    }
    &__descr {
      p {
        font-size: clamp(12px, 1.5vw, 24px);
      }
    }
  }
}

@include max-media(34.375em) {
  .payment {
    padding: 28px 0px 0px;
    &__button {
      min-width: 100%;
    }
    &__body {
      width: 100%;
      max-width: 25.125rem;
    }
    &__heading {
      max-width: 235px;
    }
    &__wrapper {
      flex-direction: column;
    }
    &__image {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 1;
      img,
      picture {
        max-height: 240px;
      }
    }
    .selector-list {
      grid-template-columns: 100%;
    }
  }
}

._selector-active {
  background-color: hsla(0, 100%, 94%, 1) !important;
}
